<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAL 회원가입 폼</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/font/iconic/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/member_custom.css}" >
</head>
<body>
    <div class="member-insert-form-body">
    <div class="member-insert-form">
       <!-- 로고 -->		
		<a href="/member/member_main" class="logo">
			<img th:src="@{/assets/img/pal_logo.png}" alt="IMG-LOGO">
		</a>

        <!-- 2. 필드 -->
        <div class="login-insert-field">
            <b>아이디</b>
            <span class="placehold-text"><input type="text"></span>
        </div>
        <div class="login-insert-field">
            <b>비밀번호</b>
            <input class="userpw" type="password">
        </div>
        <div class="login-insert-field">
            <b>비밀번호 재확인</b>
            <input class="userpw-confirm" type="password">
            <a>비밀번호가 일치합니다.</a>
        </div>
        
        
        <div class="login-insert-field">
            <b>대표이름</b>
            <input type="text">
        </div>
        
        <div class="login-insert-field">
            <b>업체이름</b>
            <input type="text">
        </div>

 		<!-- 4. 필드(성별) -->
        <b>업체종류</b>
        <div class="login-insert-field-button">
		    <button class="login-insert-field-button-child">약국</button>
		    <button class="login-insert-field-button-child">병원</button>
		    <button class="login-insert-field-button-child">장례</button>
		</div>


		<!-- 5. 이메일_전화번호 -->
        <div class="login-insert-field">
            <b>사업자 번호<!-- <small>(선택)</small> --></b>
            <input type="number">
        </div>
       

		<div class="login-insert-field-addr">
            <b>주소</b>
            <div>
                <input type="number" placeholder="우편번호 입력">
                <input type="button" value="검색">
            </div>
            <input type="number" placeholder="상세주소를 입력하세요">
        </div>


        <div class="login-insert-field-tel-number">
        	<br><br>
            <b>휴대전화</b>
            <div>
                <input type="tel" placeholder="전화번호 입력">
                <input type="button" value="인증번호 받기">
            </div>
            <input type="number" placeholder="인증번호를 입력하세요">
            <a>인증이 완료되었습니다.</a>
        </div>

        <!-- 6. 가입하기 버튼 -->
        <input type="submit" value="가입하기">

        <!-- 7. 푸터 -->
        <div class="member-insert-form-footer">
            <div>
                <a href="#none">이용약관</a>
                <a href="#none">개인정보처리방침</a>
                <a href="#none">회원정보 고객센터</a>
            </div>
            <span><a href="#none">PALCorp.</a></span>
        </div>
    </div>
</div>
</body>