<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ====================================
  ——— HEADER
  ===================================== -->
<header class="header" id="pageTop" th:fragment="headerFragment">

  <!-- Menuzord-->
  <nav class="nav-menuzord navbar-sticky">
    <div class="container clearfix">
      <div id="menuzord" class="menuzord">
        <a href="index.html" class="menuzord-brand">
          <img th:src="@{/assets/img/pal_logo.png}" alt="pal_logo-img">
        </a>

        <ul class="menuzord-menu menuzord-right pe-0">
          <li class=" active ">
            <a class="" href="javascript:void(0)">PAL</a>
            <ul class="dropdown drop-up">
              <li class="">
                <a href="index.html">Home Main</a>
              </li>

              <li class="">
                <a href="index-2.html">Home City</a>
              </li>

              <li class=" active ">
                <a href="index-3.html">Home Destination</a>
              </li>
            </ul>
          </li>

          <li class="">
            <a href="javascript:void(0)">지도검색</a>
            <div class="megamenu drop-up">
              <div class="megamenu-row">
                <div class="col4">
                  <ul class="list-unstyled">
                    <li>Tour Packages Grid View</li>
                    <li class="">
                      <a href="packages-grid-left-sidebar.html">Packages Sidebar Left</a>
                    </li>

                    <li class="">
                      <a href="packages-grid-right-sidebar.html">Packages Sidebar Right</a>
                    </li>

                    <li class="">
                      <a href="packages-grid.html">Packages 3 Columns</a>
                    </li>
                  </ul>
                </div>

                <div class="col4">
                  <ul class="list-unstyled">
                    <li>Tour Packages List View</li>
                    <li><a href="packages-list-left-sidebar.html">Packages Sidebar Left</a></li>
                    <li><a href="packages-list-right-sidebar.html">Packages Sidebar Right</a></li>
                    <li><a href="packages-list.html">Packages List</a></li>
                  </ul>
                </div>

                <div class="col4">
                  <ul class="list-unstyled">
                    <li>Single Package</li>
                    <li><a href="single-package-left-sidebar.html">Packages Sidebar Left</a></li>
                    <li><a href="single-package-right-sidebar.html">Packages Sidebar Right</a></li>
                    <li><a href="single-package-fullwidth.html">Package Fullwidth</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

          <li class="">
            <a href="javascript:void(0)">커뮤니티</a>

            <ul class="dropdown drop-up">
              <li class=" ||
                ">
                
                <a href="javascript:void(0)">Blog Grid View</a>
          
                <ul class="dropdown drop-sub-menu-left drop-up">
                  <li class="">
                    <a href="blog-grid-three-col.html">Blog Grid 3 Col</a>
                  </li>
          
                  <li class="">
                    <a href="blog-grid-two-col.html">Blog Grid 2 Col</a>
                  </li>
                </ul>
              </li>
          
              <li class=" ||
                 ||
                ">
          
                <a href="javascript:void(0)">게시판</a>
          
                <ul class="dropdown drop-sub-menu-left drop-up">
                  <li class="">
                    <a href="blog-list-right-sidebar.html">Blog List Right Sidebar</a>
                  </li>
          
                  <li class="">
                    <a href="blog-list-left-sidebar.html">Blog List Left Sidebar</a>
                  </li>
          
                  <li class="">
                    <a href="blog-list-fullwidth.html">Blog List Fullwidth</a>
                  </li>
                </ul>
              </li>
          
              <li class=" ||
                  ">
          
                <a href="javascript:void(0)">Blog Single Post</a>
          
                <ul class="dropdown drop-sub-menu-left drop-up">
                  <li class="">
                    <a href="blog-single-right-sidebar.html">Blog Right Sidebar</a>
                  </li>
          
                  <li class="">
                    <a href="blog-single-left-sidebar.html">Blog Left Sidebar</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="">
            <a href="javascript:void(0)">장례예약</a>
            <ul class="dropdown drop-up">
              <li class="">
                <a href="dashboard.html">Dashboard</a>
              </li>

              <li class="">
                <a href="booking.html">Booking</a>
              </li>

              <li class="">
                <a href="profile.html">Profile</a>
              </li>

              <li class="">
                <a href="setting.html">Settings</a>
              </li>

              <li class="">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#signup">Signup</a>
              </li>
              
              <li class="">
                <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#login">Login</a>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>
</header>

</html>