<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- ====================================
  ——— HEADER
  ===================================== -->
<header class="header" id="pageTop" th:fragment="headerFragment">
  <!-- Menuzord-->
 <!-- 미니 상단 고정바 -->
				<div class="container-menu-desktop">
					<!-- Topbar -->
					<div class="top-bar">
						<div class="content-topbar flex-sb-m h-full container">
							<div class="left-top-bar">
								<!-- <a href="#">로그인</a> -->
								<a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#login">로그인</a>
							</div>

							<div class="right-top-bar flex-w h-full">
								<!--아이콘 메뉴-->
								<div class="wrap-icon-header flex-w flex-r-m">
									<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
										<i class="zmdi zmdi-search"></i>
									</div>
									<div class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
										<!-- <i class="zmdi zmdi-favorite-outline"></i> -->
										<i class="zmdi zmdi-notifications"></i>
									</div>
									<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="2">
										<!-- <i class="zmdi zmdi-shopping-cart"></i> -->
										<i class="zmdi zmdi-account"></i>
										
									</div>
								</div>
							</div>
						</div>
					</div>
		<!-- 상단 컨테이너 -->
		<div class="container-menu-desktop">
			<!-- 상단 고정 메인 메뉴바 -->
			<div class="wrap-menu-desktop">
				<nav class="limiter-menu-desktop container">
					
					<!-- 로고 -->		
					<a href="#" class="logo">
						<img th:src="@{/assets/img/pal_logo.png}" alt="IMG-LOGO">
					</a>

					<!-- 상단메뉴 -->
					<div class="menu-desktop">
						<!--메인메뉴-->
						<ul class="main-menu">
							<!-- <li class="active-menu"> -->
							<li>
								<a href="index.html">PAL</a>
								<ul class="sub-menu">
									<li><a></a></li>
									<li><a href="index.html">사이트소개</a></li>
									<li><a href="home-02.html">이벤트&정보</a></li>
									<li><a href="home-03.html">고객센터</a></li>
									<li><a></a></li>
								</ul>
							</li>

							<li>
								<a href="product.html">지도검색</a>
							</li>
							<li>
								<a href="shoping-cart.html">커뮤니티</a>
								<ul class="sub-menu">
									<li><a href="index.html">자유게시판</a></li>
									<li><a href="home-02.html">반려동물게시판</a></li>
									<li><a href="home-03.html">질문게시판</a></li>
									<li><a href="home-03.html">갤러리</a></li>
								</ul>
							</li>

							<li>
								<a href="blog.html">이별준비</a>
								<ul class="sub-menu">
									<li><a th:href="@{/funeral/serviceList}">이별업체예약</a></li>
									<li><a href="home-02.html">이별내역조회</a></li>
								</ul>
							</li>
						</ul>
					</div>	
				</nav>
			</div>	
		</div>
		
		
</header>

</html>