<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
</head>
<th:block layout:fragment="customContent">

    <div class="main-wrapper single-hotel-right-sidebar">



    <!-- ====================================
    ———	PACKAGES SECTION
    ===================================== -->
    <section class="py-10">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4 order-2">
                    <form class="" action="index.html" method="GET">
                        <div class="card border">
                            <h2 class="card-header text-uppercase text-center bg-smoke border-bottom">
                                반려 서비스 예약
                            </h2>

                            <div class="card-body px-3 py-4">
                                <div class="border-bottom mb-5">
                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 예약일:</label>

                                            <div class="col-xl-7">
                                                <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                    <input type="text" class="form-control daterange-picker-category-2" autocomplete="off" name="dateRange" value=""
                                                           placeholder="MM/DD/YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 종료일:</label>

                                            <div class="col-xl-7">
                                                <div class="form-group form-group-icon form-group-icon-category-2 mb-0">
                                                    <i class="far fa-calendar-alt" aria-hidden="true"></i>
                                                    <input type="text" class="form-control daterange-picker-category-2" autocomplete="off" name="dateRange" id="inputTime" value=""
                                                           placeholder="MM/DD/YYYY">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputTime" class="col-xl-5 col-form-label text-center text-xl-right px-2">Select a time
                                                slot:</label>
                                            <div class="col-xl-7">
                                                <div class="form-group mb-0">
                                                    <div class="select-default select-category-2 timer">
                                                        <select class="select-option">
                                                            <option>9:00 AM</option>
                                                            <option>10:00 AM</option>
                                                            <option>11:00 AM</option>
                                                            <option>12:00 AM</option>
                                                            <option>13:00 AM</option>
                                                            <option>14:00 AM</option>
                                                            <option>15:00 AM</option>
                                                            <option>16:00 AM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="form-group mb-5">
                                        <div class="row">
                                            <label for="inputText" class="col-xl-5 col-form-label text-center text-xl-end px-2">반려 서비스 선택:</label>
                                            <div class="col-xl-7">
                                                <div class="form-group mb-0">
                                                    <div class="select-default select-category-2">
                                                        <select id="inputText" class="select-option">
                                                            <option>기본 장례</option>
                                                            <option>PAL 패키지</option>
                                                            <option>요람장 패키지</option>
                                                            <option>프리미엄 패키지</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group mb-5">
                                        <div class="row align-items-center">
                                            <label class="control-label col-xl-5 text-center text-xl-end">참여인원:</label>

                                            <div class="col-xl-5">
                                                <div class="count-input mx-auto">
                                                    <a class="incr-btn" data-action="decrease" href="javascript:void(0)">–</a>
                                                    <input class="quantity" type="number" value="1">
                                                    <a class="incr-btn" data-action="increase" href="javascript:void(0)">+</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-between border-bottom mb-5 pb-5">
                                    <span class="text-uppercase h4 mb-0">전체 비용</span>
                                    <span class="font-weight-bold text-primary h3 mb-0">$198</span>
                                </div>

                                <div class="d-grid text-center px-4">
                                    <button type="button" onclick="location.href='/funeral/funeral_reserve_info';"
                                            class="btn btn-hover btn-lg btn-outline-secondary text-uppercase">
                                        예약 하기 <span class="ms-4"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-7 col-lg-8">
                    <div id="package-slider1" class="owl-carousel owl-theme package-slider">

                        <div class="item">
                            <img class="lazyestload" th:data-src="@{/assets/img/holets/hotel-slider-01.jpg}" th:src="@{assets/img/holets/hotel-slider-01.jpg}" alt="image">
                        </div>
                        <div class="mt-8">
                            <h2 class="text-uppercase mb-5">서비스 1 : 기본 장례</h2>
                            <h3 class="text-uppercase mb-6">비용 : 35,000원</h3>
                            <p class="mb-6">장례 서비스, 기본 유골함, 포포즈 어메니티</p>
                        </div>

                    </div>
                </div>


                <div class="col-md-7 col-lg-8">
                    <div id="package-slider2" class="owl-carousel owl-theme package-slider">

                        <div class="item">
                            <img class="lazyestload" th:data-src="@{/assets/img/holets/hotel-slider-01.jpg}" th:src="@{assets/img/holets/hotel-slider-01.jpg}" alt="image">
                        </div>
                        <div class="mt-8">
                            <h2 class="text-uppercase mb-5">서비스 2 : PAL 패키지</h2>
                            <h3 class="text-uppercase mb-6">비용 : 55,000원</h3>
                            <p class="mb-6">장례 서비스, 인견 수의보, 오동나무 관, 한지 수목함, 생화(소량), 포포즈 어메니티</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-7 col-lg-8">
                    <div id="package-slider3" class="owl-carousel owl-theme package-slider">

                        <div class="item">
                            <img class="lazyestload" th:data-src="@{/assets/img/holets/hotel-slider-01.jpg}" th:src="@{assets/img/holets/hotel-slider-01.jpg}" alt="image">
                        </div>
                        <div class="mt-8">
                            <h2 class="text-uppercase mb-5">서비스 3 : 요람장 패키지</h2>
                            <h3 class="text-uppercase mb-6">비용 : 85,000원</h3>
                            <p class="mb-6">장례 서비스, 고급 면 수의, 목화솜 이불, 요람 관, 한지 수목함, 생화(소량), 어메니티</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-7 col-lg-8">
                    <div id="package-slider4" class="owl-carousel owl-theme package-slider">

                        <div class="item">
                            <img class="lazyestload" th:data-src="@{/assets/img/holets/hotel-slider-01.jpg}" th:src="@{assets/img/holets/hotel-slider-01.jpg}" alt="image">
                        </div>
                        <div class="mt-8">
                            <h2 class="text-uppercase mb-5">서비스 4 : 요람장 패키지</h2>
                            <h3 class="text-uppercase mb-6">비용 : 85,000원</h3>
                            <p class="mb-6">장례 서비스, 고급 면 수의+수의보, 고급 오동나무관, 2중 기능성 유골함, 생화(소량), PAL 어메니티</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>






    </div><!-- element wrapper ends -->


</th:block>
<!-- 사용자정의 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>

<!-- 사용자정의 javascript -->
<th:block layout:fragment="customJs">

</th:block>

</html>